

<body>


 
    



    <div class="container">
      <div class="box">
        <div class="icon"><i class="fa fa-newspaper-o" aria-hidden="true">
        </i></div>
        <div class="content">
          <h3>Clinic News</h3>
          <p>djkfvn;knv;skfnvjknfjkbno;jtngokbngrknon</p>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-stethoscope" aria-hidden="true">
          </i></div>
          <div class="content">
            <h3>search</h3>
            <p>guyvubhbubuybvgyvygjkgggggggggggg</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true">
            </i>
          </div>
            <div class="content">
              <h3>search</h3>
              <p>guyvubhbubuybvgyvhhhhhhhhhhhygjk</p>
              </div>
            </div>
      
   </div>
  </body>


